<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Fuel Type</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.0/css/bulma.min.css">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <style>
        html{
            overflow: hidden;
        }

        body{
            position: absolute;
            width: 100%;
            height: 100%;
            margin: 0;
            padding: 0;
        }

        #login-form-container{
            position: absolute;
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    </style>
</head>	
<body>
    <div id="login-form-container">
        <form action="classify" method="GET">
            <div class="card" style="width: 400px">
            <div class="card-content">
                <div class="media">
                <div class="is-size-4 has-text-centered">Fuel Type Prediction</div>
                </div>
                <div class="content">

                <div class="field">
                    <p class="control">
                    Price (rupees): <input class="input" type="number" value='0.00' step='0.01' name="price" id="price">
                    </p>
                </div>

                <div class="field">
                    <p class="control">
                    Kilometers driven: <input class="input" type="number" value='0.00' step='0.01' name="kms" id="kms">
                    </p>
                </div>

                <div class="field">
                    <p class="control">
                    Mileage(kmpl) : <input class="input" type="number" value='0.00' step='0.01' name="mileage" id="mileage">
                    </p>
                </div>

                <div class="field">
                    <p class="control">
                    Engine Volume(CC): <input class="input" type="number" value='0.00' step='0.01' name="engine" id="engine">
                    </p>
                </div>

                <div class="field">
                    <p class="control">
                    Max Power: <input class="input" type="number" value='0.00' step='0.01' name="power" id="power">
                    </p>
                </div>
                
                <div class="field">
                    <button class="button is-fullwidth is-rounded is-success">Submit</button>
                </div>
                </div>
            </div>
        </form>
    </div>
</body>
</html>